<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ htmlWebpackPlugin.options.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="AI Solutions for companies.">
        <meta name="keywords" content="AI, ML, AI Solutions">
    </head>
<body>
