<nav class="navbar navbar-expand-lg navbar-light bg-white container">
    <a class="navbar-brand" href="/"><i class="bi bi-cpu-fill fa-4x"></i> AI SOLUTIONS </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
        <ul class="navbar-nav mt-2 mt-lg-0 d-flex text-center">
            <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
            <li class="nav-item"><a class="nav-link" href="/#solutions">SOLUTIONS</a></li>
            <li class="nav-item"><a class="nav-link" href="blog">BLOG</a></li>
            <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
            <li class="nav-item"><a class="nav-link" href="/#contact">CONTACT</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">ABOUT</a></li>
            <li class="nav-item"><a class="nav-link special-nav-link" href="#">FREE DEMO</a></li>
        </ul>
    </div>
</nav>
