* {

}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;0,800;1,200;1,400;1,600;1,700;1,800&display=swap');


.navbar-light .navbar-brand {
	font-weight: bold;
	color: var(--primary);
}

.navbar-light .navbar-nav .nav-item {
	display: flex;
    align-items: center;
	justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
	font-weight: bold;
	height: 4rem;
	display: flex;
    align-items: center;
	justify-content: center;
	color: var(--primary);
}

/* .navbar-light .navbar-nav .nav-link:hover {
	color: rgba(0, 0, 0, 0.2);
} */

.navbar-light .navbar-toggler {
	border: none;
}

.special-nav-link {
	color: #fff !important;
	background-color: var(--primary);
	border-radius: 10rem;
	padding: 0 1.5rem !important;
	margin-left: 1rem;
	height: 3rem !important;
}

.special-nav-link:hover
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

footer {
	background-color: #0d3f67;
	color: #fff;
}

footer .copyright {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 1em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer .footer-navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-top: 0.5em;
}

footer .footer-navbar li {
	list-style: none;
	margin: 0 0.5em;
}

footer .footer-navbar li a {
	color: #ddd;
}

/*################## Stats #################*/
.stats {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}
.stats .stats-box {
	color: #fff;
	background-color: var(--primary);
	padding: 2rem;
	flex-grow: 1;
}

.stats .stats-box:first-child {
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.stats .stats-box:nth-child(2) {
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.stats .stats-box:nth-child(3) {
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.stats .stats-box:last-child {
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.stats .stats-box .numbers {
	font-size: 2.5rem;
	font-weight: bold;
}

/* .stats .stats-box:hover {
	transition: transform .3s;
	transform: scale(1.1, 1.1);
} */

/*################## Products ##################*/
.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.products .product-card {
	background-color: #fff;
	margin-bottom: 1rem;
	max-width: 400px;
	min-width: 250px;
	border: 1px solid var(--primary);
	border-radius: 0.5rem;
	overflow: hidden;
	flex-grow: 1;
	transition: transform 0.5s;
}
.products .product-card .product-body {
	padding: 1em;
	text-align: left;
}
.products .product-card .product-body h3 {
	font-size: 1.4rem;
}
.products .product-card img {
	width: 100%;
}
.products .product-card:hover {
	transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
}

/*################## Paricles effects ##################*/
#particles-js {
	position: relative;
	overflow: hidden;
}

#particles-js .particles-js-canvas-el {
	z-index: -1 !important;
}

.particles-js-canvas-el {
	position: absolute;
	top: 0;
	left: 0;
}

#header-particles {
	position: relative;
	overflow: hidden;
}
#header-particles .particles-js-canvas-el {

}

/*################## Page header ##################*/
.page-header {
	padding: 4rem 0;
	text-align: center;
	background-color: var(--primary);
}
.page-header h1 {
	font-weight: bold;
	color: #fff;
}

.page-body {
	padding: 3rem 0;
}
/*################## FAQ style ##################*/

.accordion .card-header button {
	font-weight: bold;
}
