{{> templates/head.hbs }}

{{> templates/navbar.hbs }}
<article>
    <div class="page-header" id="header-particles">
        <h1 class="h1">FAQ</h1>
    </div>
    <div class="container">
        <div class="page-body">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ea dicta, iste doloremque cupiditate explicabo
            architecto qui soluta quae esse iusto culpa, laborum ut officia nemo error dolorem delectus. Officiis
            dolorem fugiat nulla tenetur veritatis reiciendis quae et, ipsa aspernatur maiores. Ratione, veniam
            aspernatur. Ab iste, rerum velit soluta laudantium architecto, veniam aut modi non explicabo possimus porro
            </p>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, blanditiis?
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus optio est fugiat, suscipit rerum modi temporibus perspiciatis maiores itaque explicabo inventore sed eius ex nulla quidem harum sapiente beatae praesentium vitae atque soluta velit recusandae? Iure cupiditate ipsam quod, est non ipsum cum adipisci, perspiciatis possimus sunt nobis odit tempore!
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Lorem ipsum dolor sit amet.?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Some placeholder content for the second accordion panel. This panel is hidden by default.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Lorem ipsum dolor sit amet consectetur adipisicing.?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by
                            default.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading4">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                Lorem ipsum dolor sit.?
                            </button>
                        </h2>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                        <div class="card-body">
                            And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by
                            default.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading5">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                Lorem ipsum dolor sit amet consectetur.?
                            </button>
                        </h2>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                        <div class="card-body">
                            And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by
                            default.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading6">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                Lorem ipsum dolor sit amet.?
                            </button>
                        </h2>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                        <div class="card-body">
                            And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by
                            default.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading7">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.?
                            </button>
                        </h2>
                    </div>
                    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
                        <div class="card-body">
                            And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by
                            default.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading8">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                Lorem, ipsum dolor sit amet consectetur adipisicing?
                            </button>
                        </h2>
                    </div>
                    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
                        <div class="card-body">
                            And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by
                            default.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</article>

{{> templates/footer.hbs }}
