{{> templates/head.hbs }}
		<div id="particles-js">
			{{> templates/navbar.hbs }}

			<!-- jumbotron -->
			<section class="container-fluid">
				<div class="container py-5">
					<div class="row flex-column-reverse flex-md-row">
						<div class="col-md-6 my-5 text-md-left text-center animate__animated animate__fadeInLeft">
							<h1 class="font-weight-bold">Bring Data Intelligence into your
								Business with our full list of AI-powered solution services
							</h1>
							<p class="lead text-muted my-3">Improve and organize your company workflow with optimal AI solutions.</p>
							<div class="my-5 d-flex flex-wrap flex-column flex-md-row">
								<a class="btn btn-lg btn-primary mb-3 mx-2"><i class="bi bi-arrow-right-circle"></i> Learn More</a>
								<a class="btn btn-lg btn-outline-secondary mb-3 mx-2">Get in touch</a>
							</div>
						</div>
						<div class="col-md-6 text-center animate__animated animate__fadeInRight">
							<img class="mw-100" src="assets/imgs/posters/2.jpg" alt="#">
						</div>
					</div>
				</div>
			</section>

		</div>

		<!-- stats section -->
		<section class="animate__animated" id="stats">
			<div class="stats">
				<div class="stats-box">
					<span class="numbers">+30</span>
					<p>Project Completed</p>
				</div>
				<div class="stats-box">
					<span class="numbers">+25</span>
					<p>Happy Customers</p>
				</div>
				<div class="stats-box">
					<span class="numbers">175</span>
					<p>Publications</p>
				</div>
				<div class="stats-box">
					<span class="numbers">90K</span>
					<p>GB Data Processed</p>
				</div>
			</div>
		</section>

		<!-- Steps section -->
		<section class="container-fluid animate__animated" id="steps-container">
			<div class="container">
				<div class="text-center px-5">
					<h2 class="h2 text-primary font-weight-bold my-5">What We Do</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla odio, quasi accusantium fugiat debitis pariatur. Illo cum reiciendis rerum quasi!</p>
				</div>
				<div class="steps-container">
					<div class="step">
						<i class="bi bi-bar-chart-line"></i>
						<div class="step-content">
							<span>ANALYZE</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam.</p>
						</div>
					</div>
					<div class="step">
						<i class="bi bi-map"></i>
						<div class="step-content">
							<span>ANALYZE</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, vitae?</p>
						</div>
					</div>
					<div class="step">
						<i class="bi bi-diagram-3"></i>
						<div class="step-content">
							<span>ANALYZE</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, praesentium!</p>
						</div>
					</div>
					<div class="step">
						<i class="bi bi-cpu"></i>
						<div class="step-content">
							<span>ANALYZE</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quidem cum? Nesciunt hic amet eum?</p>
						</div>
					</div>
					<div class="step">
						<i class="bi bi-code-slash"></i>
						<div class="step-content">
							<span>ANALYZE</span>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos corrupti rerum repellat?</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="container-fluid" style="background-color: cornsilk;">
			<div class="container animate__animated" id="first-section">
				<div class="text-center">
					<h2 class="h2 text-primary font-weight-bold py-5">Our Approach</h2>
				</div>
				<div class="row py-5">
					<div class="col-md-6 d-flex align-items-center">
						<img src="assets/imgs/posters/2.webp" class="w-100" alt="#">
					</div>
					<div class="col-md-6 d-flex flex-column justify-content-center">
						<h2 class="h2 text-primary font-weight-bold">Your customer has already changed. So should you.</h2>
						<p>Consumers are more demanding, more urgent, and more unpredictable. Creating billions of new signals every second. Our
						AI-powered platform ingests billions of customer signals every second to form the most live and complete picture of your
						customer. Speeding up the time it takes to identify any change and adapt to it. Giving brands precious time back to fine
						tune strategies and make valuable business decisions.</p>
						<a href="#" class="btn btn-outline-primary btn-lg w-50">Learn More</a>
					</div>
				</div>
			</div>
		</section>

		<section class="container-fluid">
			<div class="container animate__animated" id="secound-section">
				<div class="row py-5">
					<div class="col-md-6 d-flex flex-column justify-content-center">
						<h2 class="h2 text-primary font-weight-bold">They’re people, not data points.</h2>
						<p>To deliver customer-centric strategies, brands must first understand where their customer has been to predict where
						they’re going. Talkwalker’s AI-enabled platform combines any external and internal data source from a customer’s journey
						in order to plan effective strategies for their tomorrow.</p>
						<a href="#" class="btn btn-outline-primary btn-lg w-50">Learn More</a>
					</div>
					<div class="col-md-6 d-flex align-items-center">
						<img src="assets/imgs/posters/3.webp" class="w-100" alt="#">
					</div>
				</div>
			</div>
		</section>

		<!-- solutions section -->
		<section class="container-fluid" style="background-color: aliceblue" id="solutions">
			<div class="row py-5">
				<div class="col-sm-12 text-center">
					<div class="container">
						<h2 class="h2 text-primary font-weight-bold">Our Products/Solutions</h2>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur provident reprehenderit ad, sapiente sunt officia
							fugit a impedit qui aspernatur nesciunt, quam nulla eveniet quibusdam illo? Magnam amet facere distinctio.</p>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="products mt-5">
						<div class="product-card">
							<a href="#" target="_blank"><img src="assets/imgs/posters/ai-project.jpg" alt="ai-project"></a>
							<div class="product-body">
								<a href="#" target="_blank"><h3 class="h3 text-primary">Lorem ipsum dolor sit amet consectetur.</h3></a>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores quasi pariatur veritatis. Neque, aperiam placeat?</p>
								<a href="#" target="_blank" class="btn btn-primary btn-block btn-lg">Learn More</a>
							</div>
						</div>
						<div class="product-card">
							<a href="#" target="_blank"><img src="assets/imgs/posters/ai-project.jpg" alt="ai-project"></a>
							<div class="product-body">
								<a href="#" target="_blank"><h3 class="h3 text-primary">Lorem ipsum dolor sit amet consectetur.</h3></a>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores quasi pariatur veritatis. Neque, aperiam placeat?</p>
								<a href="#" target="_blank" class="btn btn-primary btn-block btn-lg">Learn More</a>
							</div>
						</div>
						<div class="product-card">
							<a href="#" target="_blank"><img src="assets/imgs/posters/ai-project.jpg" alt="ai-project"></a>
							<div class="product-body">
								<a href="#" target="_blank"><h3 class="h3 text-primary">Lorem ipsum dolor sit amet consectetur.</h3></a>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores quasi pariatur veritatis. Neque, aperiam placeat?</p>
								<a href="#" target="_blank" class="btn btn-primary btn-block btn-lg">Learn More</a>
							</div>
						</div>
						<div class="product-card">
							<a href="#" target="_blank"><img src="assets/imgs/posters/ai-project.jpg" alt="ai-project"></a>
							<div class="product-body">
								<a href="#" target="_blank"><h3 class="h3 text-primary">Lorem ipsum dolor sit amet consectetur.</h3></a>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores quasi pariatur veritatis. Neque, aperiam placeat?</p>
								<a href="#" target="_blank" class="btn btn-primary btn-block btn-lg">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- Testemonials section -->
		<section class="container-fluid" style="background-color: cornsilk;">
			<div class="row py-5">
				<div class="col-md-12 text-center">
					<h2 class="h2 text-primary font-weight-bold">What Our Clients Say?</h2>
				</div>
				<div class="col-md-12">
					<div class="gtco-testimonials">
						<div class="owl-carousel owl-carousel1 owl-theme">
							<div>
								<div class="card text-center">
									<img class="card-img-top"
										src="assets/imgs/profiles/1.jpg"
										alt="profile">
									<div class="card-body">
										<h3>Ronne Galle <br />
											<span> Project Manager </span>
										</h3>
										<p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque
											nihil
											impedit quo minus id quod maxime placeat ” </p>
									</div>
								</div>
							</div>
							<div>
								<div class="card text-center">
									<img class="card-img-top"
										src="assets/imgs/profiles/2.jpg"
										alt="profile">
									<div class="card-body">
										<h3>Missy Limana<br />
											<span> Engineer </span>
										</h3>
										<p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque
											nihil
											impedit quo minus id quod maxime placeat ” </p>
									</div>
								</div>
							</div>
							<div>
								<div class="card text-center">
									<img class="card-img-top"
										src="assets/imgs/profiles/3.jpg"
										alt="profile">
									<div class="card-body">
										<h3>Martha Brown<br />
											<span> Project Manager </span>
										</h3>
										<p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque
											nihil
											impedit quo minus id quod maxime placeat ” </p>
									</div>
								</div>
							</div>
							<div>
								<div class="card text-center">
									<img class="card-img-top"
										src="assets/imgs/profiles/4.jpg"
										alt="profile">
									<div class="card-body">
										<h3>Hanna Lisem<br />
											<span> Project Manager </span>
										</h3>
										<p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque
											nihil
											impedit quo minus id quod maxime placeat ” </p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<!-- Most Popular Companies -->
		<section class="container-fluid text-center py-5 animate__animated" id="companies-section">
			<h2 class="h2 text-primary font-weight-bold mb-5">Used by Most Popular Companies</h2>
			<div class="container d-flex flex-wrap justify-content-center">
				<img src="assets/imgs/companies/logo-1.svg" alt="company">
				<img src="assets/imgs/companies/logo-2.svg" alt="company">
				<img src="assets/imgs/companies/logo-3.svg" alt="company">
				<img src="assets/imgs/companies/logo-4.svg" alt="company">
				<img src="assets/imgs/companies/logo-5.svg" alt="company">
				<img src="assets/imgs/companies/logo-6.svg" alt="company">
			</div>
		</section>

		<!-- Contact us section -->
		<section class="container-fluid" style="background-color: aliceblue" id="contact">
			<div class="container">
				<div class="row py-5">
					<div class="col-sm-12 text-center mb-5">
						<h2 class="h2 text-primary font-weight-bold">Contact Us</h2>
						<p>Feel free to contact us anytime</p>
					</div>
					<div class="row w-100">
						<div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
							<i class="bi bi-phone display-4 px-3"></i> <span class="font-weight-bold display-5">+212 7 85 42 52 19</span>
						</div>
						<div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
							<i class="bi bi-telephone display-4 px-3"></i> <span class="font-weight-bold display-5">+212 5 55 42 52 19</span>
						</div>
						<div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
							<i class="bi bi-envelope display-4 px-3"></i> <span class="font-weight-bold display-5">contact@test.com</span>
						</div>
					</div>
				</div>
			</div>
		</section>

{{> templates/footer.hbs }}
