{{> templates/head.hbs }}
		<div id="particles-js">
			{{> templates/navbar.hbs }}

			<!-- jumbotron -->
			<section class="container-fluid">
				<div class="container py-5">
					<div class="row flex-column-reverse flex-md-row">
						<div class="col-md-6 my-5 text-md-left text-center animate__animated animate__fadeInLeft">
							<h1 class="font-weight-bold">Bring Data Intelligence into your
								Business with our full list of AI-powered solution services
							</h1>
							<p class="lead text-muted my-3">Improve and organize your company workflow with optimal AI solutions.</p>
							<div class="my-5 d-flex flex-wrap flex-column flex-md-row">
								<a class="btn btn-lg btn-primary mb-3 mx-2" href="/blog" target="_blank"><i class="bi bi-arrow-right-circle"></i> Learn More</a>
								<a class="btn btn-lg btn-outline-secondary mb-3 mx-2" href="/#contact">Get in touch</a>
							</div>
						</div>
						<div class="col-md-6 text-center animate__animated animate__fadeInRight">
							<img class="mw-100" src="assets/imgs/posters/2.jpg" alt="#">
						</div>
					</div>
				</div>
			</section>

		</div>

		<!-- stats section -->
		<section class="animate__animated" id="stats">
			<div class="stats">
				<div class="stats-box">
					<span class="numbers">+30</span>
					<p>Project Completed</p>
				</div>
				<div class="stats-box">
					<span class="numbers">+25</span>
					<p>Happy Customers</p>
				</div>
				<div class="stats-box">
					<span class="numbers">175</span>
					<p>Publications</p>
				</div>
				<div class="stats-box">
					<span class="numbers">90K</span>
					<p>GB Data Processed</p>
				</div>
			</div>
		</section>

		<!-- Steps section -->
		<section class="container-fluid animate__animated" id="steps-container">
			<div class="container">
				<div class="text-center px-5">
					<h2 class="h2 text-primary font-weight-bold my-5">What We Do</h2>
					<p>The platform is fully automated in a scalable cloud architecture. We bring data to life so you could understand what the world says about you across the entire internet.</p>
				</div>
				<div class="steps-container">
					<div class="step">
						<i class="bi bi-collection"></i>
						<div class="step-content">
							<span>Collect</span>
							<p>Have access to multiple data sources on our distributed storage on a scalable cloud</p>
						</div>
					</div>
					<div class="step">
						<i class="bi bi-code-slash"></i>
						<div class="step-content">
							<span>Ingest</span>
							<p>Multilevel data representation with near real-time processing</p>
						</div>
					</div>
					<div class="step">
						<i class="bi bi-cpu"></i>
						<div class="step-content">
							<span>AI-ORM</span>
							<p>With AI engine at the core of every solution, we revolutionize Online Reputation Management</p>
						</div>
					</div>
					<div class="step">
						<i class="bi bi-diagram-3"></i>
						<div class="step-content">
							<span>Consolidate</span>
							<p>Move from ETL to ELT in an open Knowledge Graph structure with ease to add more data sources at a business level</p>
						</div>
					</div>
					<div class="step">
						<i class="bi bi-bar-chart-line"></i>
						<div class="step-content">
							<span>Visualize</span>
							<p>Configurable visuals with integration with the most powerful visualization tools like Tableau, Power BI ...</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="container-fluid" style="background-color: cornsilk;">
			<div class="container animate__animated" id="first-section">
				<div class="text-center">
					<h2 class="h2 text-primary font-weight-bold py-5">Our Approach</h2>
				</div>
				<div class="row py-5">
					<div class="col-md-6 d-flex align-items-center">
						<img src="assets/imgs/posters/6.png" class="w-100" alt="#">
					</div>
					<div class="col-md-6 d-flex flex-column justify-content-center">
						<h2 class="h2 text-primary font-weight-bold">No worries about regional data.</h2>
						<p>Our Multilingual Knowledge Graph brings about the internet data with human level meaning not just semantic understanding.</p>
						<a href="#" class="btn btn-outline-primary btn-lg w-50">Learn More</a>
					</div>
				</div>
			</div>
		</section>

		<section class="container-fluid">
			<div class="container animate__animated" id="secound-section">
				<div class="row py-5 flex-column-reverse d-flex flex-md-row">
					<div class="col-md-6 d-flex flex-column justify-content-center">
						<h2 class="h2 text-primary font-weight-bold">AI engine</h2>
						<p>AI microservices analyse, classify, predict and forecast future states about your brand and the market around.</p>
						<a href="#" class="btn btn-outline-primary btn-lg w-50">Learn More</a>
					</div>
					<div class="col-md-6 d-flex align-items-center">
						<img src="assets/imgs/posters/7.png" class="w-100" alt="#">
					</div>
				</div>
			</div>
		</section>

		<!-- solutions section -->
		<section class="container-fluid" style="background-color: aliceblue" id="solutions">
			<div class="row py-5">
				<div class="col-sm-12 text-center">
					<div class="container">
						<h2 class="h2 text-primary font-weight-bold">Our Products/Solutions</h2>
						<p>We help technology, marketing, analytics, and operations leaders to take their companies and organizations to the next level.</p>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="products mt-5">
						<div class="product-card">
							<a href="https://ai-solutions.io/blog/?p=54" target="_blank"><img src="assets/imgs/posters/3.jpg" alt="ai-project"></a>
							<div class="product-body">
								<a href="https://ai-solutions.io/blog/?p=54" target="_blank"><h3 class="h3 text-primary">SeeMe</h3></a>
								<p>Object detection/scene detection</p>
								<a href="https://ai-solutions.io/blog/?p=54" target="_blank" class="btn btn-primary btn-block btn-lg">Learn More</a>
							</div>
						</div>

						<div class="product-card">
							<a href="https://ai-solutions.io/blog/?p=381" target="_blank"><img src="assets/imgs/posters/4.png" alt="ai-project"></a>
							<div class="product-body">
								<a href="https://ai-solutions.io/blog/?p=381" target="_blank"><h3 class="h3 text-primary">Video Understanding</h3></a>
								<p>Describe content</p>
								<a href="https://ai-solutions.io/blog/?p=381" target="_blank" class="btn btn-primary btn-block btn-lg">Learn More</a>
							</div>
						</div>

						<div class="product-card">
							<a href="https://ai-solutions.io/blog/?p=23" target="_blank"><img src="assets/imgs/posters/5.jpg" alt="ai-project"></a>
							<div class="product-body">
								<a href="https://ai-solutions.io/blog/?p=23" target="_blank"><h3 class="h3 text-primary">Brand Logo recognition </h3></a>
								<p>Multiple brand logo recognition in a single frame/shot</p>
								<a href="https://ai-solutions.io/blog/?p=23" target="_blank" class="btn btn-primary btn-block btn-lg">Learn More</a>
							</div>
						</div>

						<div class="product-card">
							<a href="https://ai-solutions.io/blog/?p=324" target="_blank"><img src="assets/imgs/posters/1.png" alt="ai-project"></a>
							<div class="product-body">
								<a href="https://ai-solutions.io/blog/?p=324" target="_blank"><h3 class="h3 text-primary">Multilingual transcription</h3></a>
								<p>Speech-to-text, or voice-to-text, is a process that consists in transcribing a speech pronounced by a speaker
									 into textual content in an automated way. This speech can whether be extracted from audio or
									 video files, such as an audio recording, an interview, a sequence from a TV program ...</p>
								<a href="https://ai-solutions.io/blog/?p=324" target="_blank" class="btn btn-primary btn-block btn-lg">Learn More</a>
							</div>
						</div>

						<div class="product-card">
							<a href="https://ai-solutions.io/blog/?p=349" target="_blank"><img src="assets/imgs/posters/4.jpg" alt="ai-project"></a>
							<div class="product-body">
								<a href="https://ai-solutions.io/blog/?p=349" target="_blank"><h3 class="h3 text-primary">Audio-part-recognition</h3></a>
								<p>In this work, we design an automatic speaker/gender detection and
									segmentation system, in addition to an automatic audio retrieval for large scale monitoring of
									raw audio streams in order to reduce the bias associated to a particular measure context.</p>
								<a href="https://ai-solutions.io/blog/?p=349" target="_blank" class="btn btn-primary btn-block btn-lg">Learn More</a>
							</div>
						</div>

						<div class="product-card">
							<a href="/blog" target="_blank"><img src="assets/imgs/posters/6.jpg" alt="ai-project"></a>
							<div class="product-body">
								<a href="/blog" target="_blank"><h3 class="h3 text-primary">AI text</h3></a>
								<p>The platform gives control over specific algorithms in natural language processing;
									Topic detection, Translation, Word-tagging, advanced
									NLP over raw text for sentiment analysis, key phrase extraction,
									named entity recognition, and language detection. <br>These algorithms are the backbones
									of our knowledge graph.</p>
								<a href="/blog" target="_blank" class="btn btn-primary btn-block btn-lg">Learn More</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

{{!--
		<!-- Testemonials section -->
		<section class="container-fluid" style="background-color: cornsilk;">
			<div class="row py-5">
				<div class="col-md-12 text-center">
					<h2 class="h2 text-primary font-weight-bold">What Our Clients Say?</h2>
				</div>
				<div class="col-md-12">
					<div class="gtco-testimonials">
						<div class="owl-carousel owl-carousel1 owl-theme">
							<div>
								<div class="card text-center">
									<img class="card-img-top"
										src="assets/imgs/profiles/1.jpg"
										alt="profile">
									<div class="card-body">
										<h3>Ronne Galle <br />
											<span> Project Manager </span>
										</h3>
										<p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque
											nihil
											impedit quo minus id quod maxime placeat ” </p>
									</div>
								</div>
							</div>
							<div>
								<div class="card text-center">
									<img class="card-img-top"
										src="assets/imgs/profiles/2.jpg"
										alt="profile">
									<div class="card-body">
										<h3>Missy Limana<br />
											<span> Engineer </span>
										</h3>
										<p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque
											nihil
											impedit quo minus id quod maxime placeat ” </p>
									</div>
								</div>
							</div>
							<div>
								<div class="card text-center">
									<img class="card-img-top"
										src="assets/imgs/profiles/3.jpg"
										alt="profile">
									<div class="card-body">
										<h3>Martha Brown<br />
											<span> Project Manager </span>
										</h3>
										<p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque
											nihil
											impedit quo minus id quod maxime placeat ” </p>
									</div>
								</div>
							</div>
							<div>
								<div class="card text-center">
									<img class="card-img-top"
										src="assets/imgs/profiles/4.jpg"
										alt="profile">
									<div class="card-body">
										<h3>Hanna Lisem<br />
											<span> Project Manager </span>
										</h3>
										<p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque
											nihil
											impedit quo minus id quod maxime placeat ” </p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section> --}}

		<!-- Most Popular Companies -->
		<section class="container-fluid text-center py-5 animate__animated" id="companies-section">
			<h2 class="h2 text-primary font-weight-bold mb-5">Used by Most Popular Companies</h2>
			<div class="container d-flex flex-wrap justify-content-center">
				<img src="assets/imgs/companies/logo-1.svg" alt="company">
				<img src="assets/imgs/companies/logo-2.svg" alt="company">
				<img src="assets/imgs/companies/logo-3.svg" alt="company">
				<img src="assets/imgs/companies/logo-4.svg" alt="company">
				<img src="assets/imgs/companies/logo-5.svg" alt="company">
				<img src="assets/imgs/companies/logo-6.svg" alt="company">
			</div>
		</section>

		<!-- Contact us section -->
		<section class="container-fluid" style="background-color: aliceblue" id="contact">
			<div class="container">
				<div class="row py-5">
					<div class="col-sm-12 text-center mb-5">
						<h2 class="h2 text-primary font-weight-bold">Contact Us</h2>
						<p>Feel free to contact us anytime</p>
					</div>

					<div class="row w-100">

						{{!-- <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
							<i class="bi bi-phone display-4 px-3"></i> <span class="font-weight-bold display-5">+212 7 85 42 52 19</span>
						</div>

						<div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
							<i class="bi bi-telephone display-4 px-3"></i> <span class="font-weight-bold display-5">+212 5 55 42 52 19</span>
						</div> --}}

						<div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
							<i class="bi bi-envelope display-4 px-3"></i> <span class="font-weight-bold display-5">contact@ai-solutions.io</span>
						</div>

					</div>
				</div>
			</div>
		</section>

{{> templates/footer.hbs }}
