{{> templates/head.hbs }}

{{> templates/navbar.hbs }}
<article>
    <div class="page-header" id="header-particles">
        <h1 class="h1">Terms of Use</h1>
    </div>
    <div class="container">
        <div class="page-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ea dicta, iste doloremque cupiditate explicabo
            architecto qui soluta quae esse iusto culpa, laborum ut officia nemo error dolorem delectus. Officiis
            dolorem fugiat nulla tenetur veritatis reiciendis quae et, ipsa aspernatur maiores. Ratione, veniam
            aspernatur. Ab iste, rerum velit soluta laudantium architecto, veniam aut modi non explicabo possimus porro
            optio, quos quasi placeat nisi itaque eligendi! Cupiditate suscipit eos atque voluptate incidunt ea cumque
            voluptas veritatis deserunt, totam repudiandae id temporibus odit provident iure autem rerum adipisci
            accusamus. In, voluptatibus nostrum! Nobis quaerat qui exercitationem eligendi tempora est, neque libero
            sit?
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, fuga vel! Quisquam, quo accusamus quod
            temporibus voluptatem rerum dolore sapiente. Tempora quod libero magni nostrum! At dicta sunt quae, natus
            minus dolor id, molestias nulla facilis maxime vero eos, voluptas quos tempora nemo tempore eum excepturi
            ullam culpa animi. Hic, in? Ab sint aut aspernatur incidunt blanditiis laudantium veritatis facilis aliquam
            animi commodi cumque, quidem quisquam ratione tempora nesciunt at adipisci optio. Enim dolor laudantium
            neque eaque! Ullam incidunt enim molestias rerum illo sint dicta in pariatur maiores quo, eius vel et maxime
            quod quidem iste recusandae perferendis impedit blanditiis dolor voluptates similique? Architecto, porro ad
            pariatur commodi tempora, maxime reprehenderit voluptatum rerum molestias accusantium inventore quos
            aliquam, voluptatibus asperiores nam doloremque fuga natus labore voluptates animi tempore assumenda
            sapiente a eveniet. Minus aliquid voluptates nemo omnis deserunt commodi dolores, repellat quae. Dolor ad ex
            expedita ut harum cupiditate. Vitae!
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, facere nam quis possimus necessitatibus
            consequatur error! Nihil dicta ea blanditiis, minima magnam quae est in animi consectetur saepe eveniet
            veniam sunt laborum, modi tenetur! Accusamus, magni accusantium veniam cumque laboriosam iste dolorem
            impedit consectetur nulla recusandae quam repellat porro alias assumenda fugiat veritatis cum voluptas ex
            consequuntur officia perspiciatis modi obcaecati molestias corporis! Quibusdam nulla, repellendus tenetur
            dolore nobis nam?
            <br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem unde odit quia facilis voluptatem omnis
            perferendis reiciendis dignissimos necessitatibus eligendi fuga harum tenetur quae eos, cumque soluta vero
            maiores est aliquid qui fugit aspernatur nam delectus. Facere, odit. Nulla explicabo, dolor ut eligendi fuga
            repellendus sed vitae inventore neque atque illo aperiam voluptate suscipit aliquid reiciendis! Minima, id
            corrupti. Fuga sed ducimus beatae fugiat dolorum quo, enim explicabo adipisci laboriosam quisquam amet ab
            consequatur quia magni cupiditate necessitatibus voluptatem esse cum natus sequi recusandae? Nemo, labore
            ad. Molestias molestiae iure corporis facilis. Itaque exercitationem harum ex, qui laboriosam ea ab aut
            totam, excepturi iure enim eligendi ullam, et laborum ipsam. Eveniet molestias nisi nesciunt quidem eum
            veritatis ullam, pariatur velit repudiandae rerum ipsam fugit earum necessitatibus reiciendis cupiditate
            temporibus esse nobis. Alias illum qui odio laudantium. Earum nobis beatae nesciunt cum dolorum alias dolor
            velit nisi vel? Neque labore quod illo quis dolore iusto! Omnis aliquam eligendi tenetur. Omnis voluptatem
            aliquam natus harum perspiciatis nihil eum ipsa illo repellendus doloremque quidem, corporis qui totam. Non
            distinctio deserunt vero officiis, veritatis esse doloribus accusantium quibusdam maiores exercitationem
            dolores nesciunt unde consectetur architecto temporibus commodi eaque? Quaerat quia optio delectus minus est
            facere, cupiditate quisquam adipisci consequuntur voluptatem quibusdam odio ea illo unde exercitationem!
            Fugit voluptas vero porro velit eaque aliquam accusantium necessitatibus, reiciendis amet dignissimos cum
            doloribus magni odit nisi debitis! Inventore eligendi quis incidunt. Odio sapiente, laudantium hic et autem
            minima quaerat eligendi odit provident, ab a? Illum, voluptatem iure?
        </div>
    </div>
</article>

{{> templates/footer.hbs }}
